body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

:root {
    --background-color: #1a1c1b;
    --text-color: white;
    --primary-color: #007bff;
    --hover-color: #0056b3;
}

.logo {
    margin-top: -25px;
    margin-left: 100px;
}

.logo img {
    width: 200px;
    height: auto;
}

#helpLinks {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#helpLinks a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 30px;
    left: 700px;
    top: -70px;
}

#helpLinks a:hover {
    color: lightgray;
    text-decoration: none;
}

#helpLinks a:last-child {
    margin-right: 0;
}

.other {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-top: -300px;
}

.other p {
    color: var(--text-color);
}

.rights p {
    display: flex;
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 10px;
}

.links {
    display: flex;
    gap: 20px;
    position: relative;
    top: 220px;
    left: 100px;
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
}

.links img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.links img:hover {
    transform: scale(1.05);
}

.help {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 600px;
    padding: 24px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    bottom: 200px;
    left: 350px;
}

.Main, .Websites, .Contact {
    flex: 1;
    padding: 24px;
    background-color: var(--background-color);
    box-sizing: border-box;
    line-height: 28px;
    margin: 10px;
    position: relative;
}

.Main h2, .Websites h2, .Contact h2 {
    color: var(--text-color);
    font-size: 20px;
}

.Main a, .Websites a, .Contact a {
    display: block;
    max-width: 100%;
    line-height: 1.6;
    color: var(--text-color);
    font-size: 12px;
    width: fit-content;
    text-decoration: none;
}

.Contact p {
    font-size: 12px;
    line-height: 1.6;
    color: var(--text-color);
    display: block;
    max-width: 100%;
    width: fit-content;
    text-decoration: none;
}

.help a:hover {
    color: lightgray;
    text-decoration: none;
}

.faq {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 1200px;
    padding: 24px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    bottom: 400px;
    left: 25px;
    margin-top: 400px;
    font-size: 12px;
    line-height: 1.6;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.aq1, .aq2, .aq3, .aq4 {
    flex: 1;
    padding: 24px;
    background-color: var(--background-color);
    box-sizing: border-box;
    line-height: 28px;
    margin: 10px;
}

.aq1 h2, .aq2 h2, .aq3 h2, .aq4 h2 {
    margin-top: 0;
    color: var(--text-color);
    font-size: 24px;
}

.aq1 p, .aq2 p, .aq3 p, .aq4 p {
    line-height: 1.6;
    color: var(--text-color);
    font-size: 16px;
}

.aq1 a, .aq2 a, .aq3 a, .aq4 a {
    position: relative;
    color: var(--text-color);
}

.aq1 a:hover, .aq2 a:hover, .aq3 a:hover, .aq4 a:hover {
    color: lightgray;
}

@media screen and (width: 1920px) and (height: 1080px) {
    .All {
        position: relative;
        left: 270px;
    }

    .All-2 {
        position: relative;
        left: 270px;
    }
}