body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

:root {
    --background-color: #1a1c1b;
    --text-color: white;
    --primary-color: #007bff;
    --hover-color: #0056b3;
}

.logo {
    margin-top: -25px;
    margin-left: 100px;
}

.logo img {
    width: 200px;
    height: auto;
}

.preview, .container-features {
    margin: 0;
    padding: 0;
}

.preview h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 96px;
    max-width: 50px;
    color: var(--text-color);
    position: relative;
    left: 100px;
    bottom: 50px;
    text-align: center;
}

.image {
    position: relative;
    margin-left: 650px;
    bottom: 435px;
}

.image img {
    width: 550px;
    height: auto;
    border-radius: 10px;
}

#helpLinks {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#helpLinks a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 30px;
    left: 700px;
    top: -70px;
}

#helpLinks a:hover {
    color: lightgray;
    text-decoration: none;
}

#helpLinks a:last-child {
    margin-right: 0;
}

.container-features {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 1200px;
    padding: 24px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    bottom: 400px;
    left: 50px;
}

.functional, .install, .versions {
    flex: 1;
    padding: 24px;
    background-color: var(--background-color);
    box-sizing: border-box;
    line-height: 28px;
    margin: 10px;
}

.functional h2, .install h2, .versions h2 {
    margin-top: 0;
    color: var(--text-color);
    font-size: 24px;
}

.functional p, .install p, .versions p {
    line-height: 1.6;
    color: var(--text-color);
    font-size: 16px;
}

.other {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-top: -300px;
}

.other p {
    color: var(--text-color);
}

.rights p {
    display: flex;
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 10px;
}

.links {
    display: flex;
    gap: 20px;
    position: relative;
    top: 220px;
    left: 100px;
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
}

.links img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.links img:hover {
    transform: scale(1.05);
}

.download-container {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    position: relative;
    bottom: 450px;
    left: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 1000px;
    padding: 20px;
    background-color: #8d3131;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 10px 20px;
    position: relative;
    left: 290px;
    font-size: 22px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.text {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    position: relative;
    left: 50px;
}

.help {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 600px;
    padding: 24px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    bottom: 200px;
    left: 350px;
}

.Main, .Websites, .Contact {
    flex: 1;
    padding: 24px;
    background-color: var(--background-color);
    box-sizing: border-box;
    line-height: 28px;
    margin: 10px;
    position: relative;
}

.Main h2, .Websites h2, .Contact h2 {
    color: white;
    font-size: 20px;
}

.Main a, .Websites a, .Contact a {
    display: block;
    max-width: 100%;
    line-height: 1.6;
    color: var(--text-color);
    font-size: 12px;
    width: fit-content;
    text-decoration: none;
}

.Contact p {
    font-size: 12px;
    line-height: 1.6;
    color: var(--text-color);
    display: block;
    max-width: 100%;
    width: fit-content;
    text-decoration: none;
}

.help a:hover {
    color: lightgray;
    text-decoration: none;
}

@media screen and (width: 1920px) and (height: 1080px) {
    .All {
        position: relative;
        left: 270px;
    }

    .All-2 {
        position: relative;
        left: 270px;
    }
}